<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Solving polynomial equation</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>

<body>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <!--D3.js -->

    <div>
        <p>powers: {{ session['powers'] }}</p>
        <p>weights: {{ session['weights'] }}</p>
        <p> p(<span id="x_val"></span>) = <span id="y_val"></span> </p>
    </div>


    <script>
        $(document).ready(function () {
            const source = new EventSource("/eqn-chart-data");

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);
                // Push the data points to the fitness curve
                console.log("data best individual is ");
                console.log(data.best_ind);
                $("#x_val").text(data.best_ind)
                $("#y_val").text(data.value)
                // document.getElementById("")

                if (data.iter == -1) {
                    console.log("closing...");
                    source.close();
                }
                console.log(data.iter, data)
            }
        });

    </script>
</body>

</html>
