<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Solving TSP</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='base.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='tsp.css') }}">
</head>
    
<body>
    <div class="tsp-container">
        <div class="page-title">TSP SOLVER</div>
        <div class="canvas-container">
            <canvas id="canvas"></canvas>
        </div>
        <div class="svg-graph-container">
            <svg height="720" width="720"></svg>
        </div>
    </div>

    <!-- <h1 id="main_title">TSP SOLVER</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 boxed">
                <canvas id="canvas"></canvas>
            </div>
        </div>
    </div> -->

    <!-- <div>
        <h2 id="graph_header"></h2>
        <svg width="1060" height="900"></svg>
    </div> -->
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <!--D3.js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script>
        $(document).ready(function () {
            Chart.defaults.global.defaultFontColor='white';

            const config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Fitness",
                        // backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: '#FCF300',
                        fontColor: '#FFF',
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    legend: {
                        labels: {
                            fontColor: '#FFF'
                        }
                    },
                    title: {
                        display: true,
                        text: 'Solving TSP using genetic algorithms',
                        fontColor: '#FFF'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'iter',
                                fontColor: '#FFF'
                            },
                            gridLines: {
                                color: "rgba(243, 241, 241, 0.46)"
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'fitness',
                                fontColor: '#FFF'
                            },
                            gridLines: {
                                color: "rgba(243, 241, 241, 0.46)"
                            }
                        }]
                    }
                }
            };

            let flag = true

            const context = document.getElementById('canvas').getContext('2d');

            const lineChart = new Chart(context, config);

            const source = new EventSource("/chart-data");

            source.onmessage = function (event) {
                const data = JSON.parse(event.data);

                // Push the data points to the fitness curve
                if (data.iter != -1) {
                    config.data.labels.push(data.iter);
                    config.data.datasets[0].data.push(data.fitness);
                    lineChart.update();
                }

                if (flag === true) {
                    $("#main_header").text("Solving for TSP having " + data.best_ind.length + " nodes");
                    flag = false;
                }

                console.log("data best individual is ");
                console.log(data.best_ind);

                if (data.iter == -1) {
                    document.getElementsByClassName("canvas-container")[0].style.width = "50%";
                    document.getElementsByClassName("canvas-container")[0].style.left = "28%";
                    document.getElementsByClassName("svg-graph-container")[0].style.display = "block";
                    document.getElementsByClassName("page-title")[0].style.marginTop = "6%";
                    generate_graph(data.graph, data.best_ind);
                    source.close();
                }
                console.log(data.iter, data)
            }

            function generate_graph(matrix, path) {
                var svg = d3.select("svg"),
                    width = +svg.attr("width"),
                    height = +svg.attr("height");

                var simulation = d3.forceSimulation()
                    .force("link", d3.forceLink().id(function (d) { return d.id; }))
                    //.force("charge", d3.forceManyBody().strength(-200))
                    .force('charge', d3.forceManyBody()
                        .strength(-1800)
                    )
                    .force('collide', d3.forceCollide(function(d) {
                        return d.value 
                    }))
                    .force("center", d3.forceCenter(width / 2, height / 2));
                
                const graph = {
                };
                graph["nodes"] = [];
                
                const nodes = [];
                for (var temp_var in path) {
                    nodes.push(temp_var);
                }
                nodes.sort((a,b)=>a-b);

                console.log("Inside generate_graph:");
                console.log(path);
                console.log(matrix);

                for (var i in nodes) {
                    let dest = parseInt(i)+1;
                    console.log(dest);
                    graph["nodes"].push({id: dest.toString(), type: "1"});
                }

                path.push(path[0]);
                let links = [];
                nodes.forEach(function (d, i) {
                    // console.log('parent: ' + d, i);
                    matrix[i].forEach(function (e, j) {
                        console.log(i, j)
                        let curr_type = "a";
                        for (var k = 0; k < path.length - 1; k++) {
                            console.log("looking at " + path[k].toString());
                            if ((path[k] == i+1 && path[k+1] == j+1) ||
                                (path[k] == j+1 && path[k+1] == i+1)) {
                                    console.log("in path for ");
                                    console.log(path[k], path[k+1]);
                                    console.log(i, j);
                                    curr_type = "b";
                            }
                        }
                        // console.log("has " + curr_type.toString());
                        if (matrix[i][j] > 0) {
                            links.push({
                                source: (i+1).toString(), 
                                target: (j+1).toString(),
                                value: matrix[i][j],
                                type: curr_type
                            });
                        }
                    });
                });

                console.log("links is ");
                console.log(links);

                graph["links"] = links;

                console.log(graph);



                function run(graph) {

                    graph.links.forEach(function (d) {
                        //     d.source = d.source_id;    
                        //     d.target = d.target_id;
                    });

                    var link = svg.append("g")
                        .selectAll("line")
                        .data(graph.links)
                        .enter()
                        .append("line")
                        .style("stroke", function(d) {
                            console.log(d);
                            if (d.type == "a") {
                                return "rgba(132, 220, 207, 0.36)";
                            } else {
                                return "#FFF";
                            }
                        })
                        .style("stroke-width", function(d) {
                            if (d.type == "a") {
                                return "1px";
                            } else {
                                return "3px";
                            }
                        });

                    var node = svg.append("g")
                        .attr("class", "nodes")
                        .selectAll("circle")
                        .data(graph.nodes)
                        .enter().append("circle")
                        .attr("r", 8)
                        .call(d3.drag()
                            .on("start", dragstarted)
                            .on("drag", dragged)
                            .on("end", dragended));

                    var label = svg.append("g")
                        .attr("class", "labels")
                        .selectAll("text")
                        .data(graph.nodes)
                        .enter().append("text")
                        .attr("class", "label")
                        .text(function (d) { return d.id; });

                    simulation
                        .nodes(graph.nodes)
                        .on("tick", ticked);

                    simulation.force("link")
                        .links(graph.links);

                    function ticked() {
                        link
                            .attr("x1", function (d) { return d.source.x; })
                            .attr("y1", function (d) { return d.source.y; })
                            .attr("x2", function (d) { return d.target.x; })
                            .attr("y2", function (d) { return d.target.y; });

                        node
                            .attr("r", 16)
                            .style("fill", "#d9f6ff")
                            .style("stroke", "#424242")
                            .style("stroke-width", "1px")
                            .attr("cx", function (d) { return d.x + 5; })
                            .attr("cy", function (d) { return d.y - 3; });

                        label
                            .attr("x", function (d) { return d.x; })
                            .attr("y", function (d) { return d.y; })
                            .style("font-size", "10px").style("fill", "#333");
                    }

                    function dragstarted(d) {
                        if (!d3.event.active) simulation.alphaTarget(0.3).restart()
                        d.fx = d.x
                        d.fy = d.y
                        //  simulation.fix(d);
                    }

                    function dragged(d) {
                        d.fx = d3.event.x
                        d.fy = d3.event.y
                        //  simulation.fix(d, d3.event.x, d3.event.y);
                    }

                    function dragended(d) {
                        d.fx = d3.event.x
                        d.fy = d3.event.y
                        if (!d3.event.active) simulation.alphaTarget(0);
                        //simulation.unfix(d);
                    }
                }

                console.log("Running graph");
                run(graph);

            }
        });
    </script>
</body>

</html>