.landing-container {
    width: 100%;
    height: 100%;
}

.main-title {
    position: absolute;
    width: 100%;
    top: 35%;

    transform: translateY(-50%);

    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.3vw;
}

.button-container {
    position: absolute;
    width: 100%;
    top: 65%;

    display: flex;
    justify-content: space-around;
}

.btn {
    width: 16.72%; /*321px*/

    background: linear-gradient(90deg, #8860D0 0%, #5680E9 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 16px;

    outline: none;
    line-height: 200%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.875vw;
    display: inline-block;
    text-align: center;

    text-decoration: none;
    cursor: pointer;

    color: #FFFFFF;
}

.btn-landing {
    height: 7.78%; /*84px*/
    transform: translateY(-50%);
}

#explore-button {
    margin-left: 20%;
}

#github-button {
    margin-right: 20%;
}

.btn-landing span {
    margin-left: 10px;
}

.explore-container {
    position: relative;
    width: 100%;
    height: 200%;

    height: calc(2 * 20% + 3 * 26vh + 4 * 8.4vh);
}

#explore-title {
    position: absolute;
    width: 100%;
    top: 5%;
    margin: 0;

    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
}

.explore-cards-container {
    position: absolute;
    width: 75%;

    top: 20%;
    left: 50%;

    transform: translateX(-50%);

    background: transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.explore-card {
    position: relative;
    width: 100%;
    height: 26vh;
    background: transparent;

    margin: 8.4vh 0;

    display: inline-block;
    box-sizing: border-box;
}
.explore-card:first-child { margin-top: 0; }
.explore-card:last-child { margin-bottom: 0; }

.explore-card-title {
    position: absolute;
    width: 100%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vw;
}
.title-card-left { text-align: left; }
.title-card-right { text-align: right; }

.btn-card {
    position: absolute;
    top: 3.5vw;
}

.btn-card-left { 
    left: 0;
    transform: translate(0, -50%);
}

.btn-card-right { 
    left: 100%;
    transform: translate(-100%, -50%);
}

.explore-card-text {
    position: absolute;
    width: 49.5vw;

    top: 3.5vw;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw;
}

.text-card-left {
    text-align: left;
    left: 0;
    transform: none;
}

.text-card-right {
    text-align: right;
    left: 100%;
    transform: translate(-100%, 0);
}

#footer {
    width: 100%;
    height: 11%;

    background: red;
}

.group-bar {
    position: fixed;
    width: 242px;
    height: 36px;
    top: 92.6%;
    left: 100%;

    transform: translateX(-100%);
}

.group-bar-line {
    position: absolute;
    width: 10vw;
    height: 0px;
    left: 100%;
    top: 100%;

    transform: translate(-100%, -100%);

    border: 1px solid #FFFFFF;
}

.group-bar-text {
    position: absolute;
    width: 98%;
    top: 45%;

    transform: translateY(-50%);

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw;

    text-align: right;

    color: #FFFFFF;
}